body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
    margin-bottom: 100px;
}

header button {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    text-align: start;
    position: fixed;
    right: 5px;
    top: 5px;
    
}

header button:hover {
    opacity: .5;
    cursor: pointer;
    
}

h1 {
    /* background-image: linear-gradient(150deg, rgb(6, 117, 2), rgb(187, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    font-size: 3rem;
    margin-bottom: 0;
    letter-spacing: 4px;
    color: rgb(195, 255, 0);
    text-shadow: 4px 4px 1px rgb(0, 0, 0), 6px 6px 1px rgb(3, 134, 40), 7px 7px 1px rgb(60, 245, 32), 8px 8px 3px black, 5px 5px 15px rgb(217, 255, 0), 1px 1px 15px rgb(2, 165, 2); 
}

main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: white;
    margin: 10px;
    text-align: center;
}

input, label {
    margin: 20px;
}

input {
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background-color: black;
    border: 2px solid chartreuse;
    color: chartreuse;
}

form button {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: black;
    border: none;
    text-shadow: 1px 1px 4px white;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 150px;
    margin-top: 50px;
}

button:hover {
    opacity: .5;
    cursor: pointer;
}